<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <!-- <link rel="stylesheet" type='text/html' href="/css/style2.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='/public/OpenSans300.css' rel='stylesheet' type='text/css'>
<!-- <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> -->
  <script src="/public/jquery-3.3.1.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
<script type='text/javascript' src="/node_modules/waves-api/dist/waves-api.min.js"></script>
<link rel="stylesheet" type='text/css' href='/public/style.css'></link>
<!-- <script src="https://www.paypalobjects.com/api/checkout.js"></script> -->
  </head>

  <body>
     <!-- <div id="paypal-button"></div> -->
    <div class="container" id='div_form1'>
        <fieldset>
          <form action="/wallet" method="post" onsubmit="return openAccount(this);">
        <!-- <form action="/wallet" method="post"> -->
          <input name="user" type="text" class="ghost-input" placeholder="Username" required oninput="checkUser(this)" id="user">
            <input name="password1" class='ghost-input' required="required" type="password" id="password1" placeholder="Enter Password"/>

          <input type="submit" class="ghost-button" value="Log in">
          <br>
          <br>
          <input type='button' class="ghost-button" value="Register" onclick="registerForm()">
        </form>
        </fieldset>
    </div>

    <div class="container" id='div_form2' hidden>
        <fieldset>
        <form action="/" method="post" onsubmit="return validate(this);">
          <input name="city" type="text" class="ghost-input" placeholder="Username" required oninput="checkUser(this)">
            <input name="password" class='ghost-input' required="required" type="password" id="password" placeholder="Enter Password"/>
            <input name="password_confirm" class='ghost-input' required="required" type="password" id="password_confirm" oninput="check(this)" placeholder="Confirm password" />
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        </fieldset>
    </div>
    <div id='walletwindow' hidden>
      <fieldset id='walletfieldset'>
        <!-- <button id="myBtn">Open Modal</button> -->
        <div id="GeneralModal" class="modal">
          <div id="modal_content" class="modal-content">
            <span class="close" id="GeneralModalClose">&times;</span>
            <div id="GeneralModalDiv"></div>
          </div>
        </div>

        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close" id="myBtnClose">&times;</span>
            <p id="show_pass_input" onclick="securityconfirm(this)">
              Update Settings
              <text id='lock_or_not'>  locked</text>
              <input id='lock_or_not_input' value='lock' hidden></input>
            </p>
            <input id='lockagain' type="submit" class="ghost-button" value="Lock" onclick="securityconfirm(this)">
            <div id='securityconfirmwindow'>
              <form onsubmit="return securityconfirm(this)">
                <input name="password_for_settings" class='ghost-input' required="required" type="password" id="password_for_settings" placeholder="Enter Password to Update Settings"/>
                <input type="submit" class="ghost-button" value="Unlock">
              </form>
            </div>
            <form action="/" method="post" onsubmit="return sendUpdateForm(this)" id="update_settings_form">

              <label for="conf5" class="ghost-input ghost-label-top">Account Name:</label>
              <input id="conf5" name="conf5" type="text" class="ghost-input ghost-label-bottom" placeholder="Account name" readonly=true>


              <label for="conf1" class="ghost-input ghost-label-top">Username:</label>
              <input id="conf1" name="conf1" type="text" class="ghost-input ghost-label-bottom" value="username" readonly=true>
              <label for="conf2" class="ghost-input ghost-label-top">Account Address:</label>
              <input id="conf2" name="conf2" type="text" class="ghost-input ghost-label-bottom" value="Address" readonly>
              <!-- <div class="popup" onclick="myFunction()">

                <span class="popuptext" id="myPopup">Change Email?</span>
              </div> -->
              <label for="conf3" class="ghost-input ghost-label-top">Email:</label>
              <input id="conf3" name="conf3" type="email" class="ghost-input ghost-label-bottom" value="Unconfirmed" readonly=true>

              <label id="conf4_label" for="conf4" class="ghost-input ghost-label-top">Searchable:<input type="radio" id="contactChoice1" name="contact" value="Yes">
              <label for="contactChoice1">Yes</label>
              <input type="radio" id="contactChoice2"name="contact" value="No">
              <label for="contactChoice2">No</label></label>
              <br>
              <br>
              <!-- <label for="conf5" class="ghost-input ghost-label-top">BTC Address:</label> -->
              <!-- <div class='btn-group'><button class='ghost-button' onclick="btcAddress(this)">Import Address</button><button class='ghost-button' onclick="btcAddress(this)">Generate Address</button></div> -->
              <!-- <input id="conf5" name="conf5" type="text" class="ghost-input ghost-label-bottom" value="Address" readonly> -->
              <input type="submit" class="ghost-button" value="Update Settings">
            </form>
          </div>

        </div>
        <div id='Page_1' class='main_page'>
          <form action="/" method="post" onsubmit="return false" id="ContractsMenu">
          </form>
          <div id='slide_1'></div>
          <div id='slide_2'></div>
          <div id='slide_3'></div>
          <div id='slide_4'>
            <form>
              <p>Contract Creation</p>
              <input type='button'></input>
              <input type='button'></input>
              <input type='button'></input>
            </form>
          </div>
        </div>
        <div id='Page_3' class='main_page'>
          <span class="close" onclick="refreshTransactions(this)">Refresh<span>
        </div>
      <form action="/" method="post" onsubmit="return openAccount(this);" id="walletwindowform" class='main_page'>
        <span class="close" id="myBtn">&times;</span>
    <!-- <form action="/wallet" method="post"> -->
      <!-- <label for="name1" class="ghost-input ghost-label-top">Account:</label> -->
      <input id="name1" name="name1" type="text" class="ghost-input ghost-label-bottom" value="Account name" readonly>
      <!-- <label for="name1" class="ghost-input ghost-label-top">Balance:</label> -->
      <!-- <input id="name2" name="name2" type="text" class="ghost-input ghost-label-bottom" value="Account Address" readonly> -->


      <!-- <input type="submit" class="ghost-button" value="Log in"> -->

      <!-- <input type="submit" class="ghost-button" value="Log in" onclick="registerForm()"> -->
    </form>
    </fieldset>

    </div>
    <script type='text/javascript' src="/public/functions.js"></script>
    <script type='text/javascript' src="/public/options_math_new.js"></script>
    <script type='text/javascript' src="/public/worker_new.js"></script>
    <!-- <script type='text/javascript' src="/public/paypal/ppconf.js"></script> -->
  </body>
</html>
